<div class="login-container d-flex flex-row justify-content-center align-items-center mt-4">
    <div class="card__login card p-4 w-25 bg-white shadow-lg">
        <h2 class="text-center mb-4">Mude Sua Senha!</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "needs-validation" }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>

            <div class="form-group mb-3">
                <%= f.label :password, "Nova Senha", class: "form-label" %>
                <% if @minimum_password_length %>
                    <small class="form-text text-muted">(<%= @minimum_password_length %> caracteres mínimos)</small>
                <% end %>
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="form-group mb-3">
                <%= f.label :password_confirmation, "Confirmar nova senha", class: "form-label" %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="d-grid">
                <%= f.submit "Mudar minha senha", class: "button__login" %>
            </div>
        <% end %>

        <div class="">
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>
