<% @posts.each do |post| %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.content %></p>

      <!-- Botão para exibir/ocultar comentários -->
      <button onclick="toggleComments(<%= post.id %>)" class="btn btn-info">Exibir Comentários</button>

      <!-- Div com os comentários, inicialmente oculta -->
      <div id="comments_for_<%= post.id %>" style="display: none;">
        <% post.comments.each do |comment| %>
          <div class="comment">
            <p><strong><%= comment.user.name %>:</strong> <%= comment.content %></p>
            <p><small><%= comment.created_at.strftime("%d/%m/%Y %H:%M") %></small></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
