<div class="container mt-4">
  <h2>Lista de Posts</h2>

  <div class="list-group">
    <% @posts.each do |post| %>
      <div class="list-group-item">
        <h5><%= post.title %></h5>
        <p><%= post.content %></p>
        <p><small>Postado por: <%= post.user.name %></small></p>
        <small><%= post.created_at.strftime("%b %d, %Y") %></small>
      </div>
    <% end %>
  </div>
  <% @posts.each do |post| %>
  <div>
    <%= link_to post.title, post_path(post) %> <!-- Aqui você garante que o link irá para o post correto -->
  </div>
<% end %>

</div>
