<div class="d-flex flex-row justify-content-center mt-3">
    <h1 class="mt-5">Últimos Posts</h1>
    <%= link_to 'Criar Novo Post', new_post_path, class: 'btn btn-success' %>
</div>


<% @posts.each do |post| %>
<div class="d-flex flex-row card m-5 bg-transparent">
    <div class="card-body">
        <h5 class="card-title"><%= link_to post.title, post_path(post) %></h5>
        <p class="card-text"><%= post.content.truncate(100) %></p>
        <p><small>Postado por: <%= post.user.name %> em <%= post.created_at.strftime("%d/%m/%Y %H:%M")%></small></p>
    </div>
    <div cclass="d-flex justify-content-center">
        <%= link_to 'Ler mais', post_path(post), class: 'btn btn-primary' %>
    </div>
</div>
<% end %>