<div class="container mt-5">
    <div class="post">
        <h1><%= @post.title %></h1>
        <p><%= @post.content %></p>
        <p class="text-muted">Publicado em: <%= @post.created_at.strftime("%d/%m/%Y %H:%M") %></p>
    </div>


    <h3>Comentários</h3>
    <% @post.comments.each do |comment| %>
    <div class="comment mb-3">
        <p>
            <strong>
                <%= comment.user&.name || "Anônimo" %>
            </strong> disse:
        </p>
        <p><%= comment.content %></p>
        <p class="text-muted">
            <small>Publicado em <%= comment.created_at.strftime("%d/%m/%Y %H:%M") %></small>
        </p>
    </div>
    <% end %>


    <h4>Deixe um comentário:</h4>
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
    <div class="form-group">
        <%= f.label :content, "Comentário" %>
        <%= f.text_area :content, class: "form-control", placeholder: "Digite seu comentário..." %>
    </div>

    <%= f.submit "Comentar", class: "btn btn-primary" %>
    <% end %>

</div>