<nav id="navbar-example2" class="navbar bg-transparent px-3 m-5">
  <h2 class="text-center">Meus Post</h2>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link text-dark" href="<%= edit_user_registration_path %>">Editar Perfil</a>
    </li>
    <li class="nav-item">
     <a class="nav-link text-dark"href="<%= new_post_path %>">Criar Post</a>
    </li>
    </li>
  </ul>
</nav>
<div class="d-flex justify-content-center">
    <div class="posts-container w-75">
        <% if @posts.any? %>
        <% @posts.each do |post| %>
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title"><%= post.title %></h2>
                <p class="card-text"><%= post.content %></p>

                <div class="actions">
                    <%= link_to 'Editar', edit_post_path(post), class: 'button__login' %>
                </div>
                <hr class="my-4">
                <h4>Comentários:</h4>
                <div class="comments mt-3">
                    <% post.comments.each do |comment| %>
                    <p><%= comment.content %></p>
                    <small>por: <%= comment.user&.name || "Anônimo" %></small>
                    <% end %>
                </div>
            </div>
        </div>
        <% end %>
        <% else %>
        <div class="alert text-center" role="alert">
            Você ainda não tem posts.
        </div>
        <% end %>
    </div>
</div>
<div class="m-5">
    <%= paginate @posts, theme: 'bootstrap-4' %>
</div>